*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f5efe6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

.container{
    background: #fff;
    padding: 30px;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    position: relative;
}
.screen{
    display: none;
    padding: 2rem;
    text-align: center;
}
.screen.active{
    display: block;
}
.screen p{
    margin: 10px 10px 20px 10px;
}

#start-screen h1{
    margin-bottom: 20px;
    color: #e86a33;
    font-size: 2.5rem;
}
.quiz-header{
    margin-bottom: 2rem;
}
#question-text{
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    line-height: 1.4;
}
.quiz-info{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px ;
}
.answers-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}
.answer-btn{
    background: #f8f0e5;
    color: #333;
    border: 2px solid #8a8482;
    padding: 10px;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s;
    text-align: left;
}
.answer-btn:hover{
    background: #a19b99;
    color: #fff;
    border-color: #999999;
}
.answer-btn.correct{
    background: #4caf50;
    color: #fff;
    border-color: #4caf50;
}
.answer-btn.wrong{
    background: #f44336;
    color: #fff;
    border-color: #f44336;
}
.progress-bar{
    width: 100%;
    height: 10px;
    background: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}

.progress{
    height: 100%;
    width: 0%;
    background: #e86a33;
    transition: width 0.3s ease;
}

#result-screen h1{
    margin-bottom: 20px;
    color: #6d655f;
    font-size: 2rem;
    padding-bottom: 20px;
}

.result-info{
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 30px;
}
.result-info p{
     font-size: 1.2rem;
    color: #333;
    margin-bottom: 30px;
}
#result-message{
    font-weight: bold;
    margin-top: 15px;
    color: #e86a33;
}

button{
    background: #e86a33;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s;
}

button:hover{
    background: #cf5c20;
}


@media (max-width: 500px){
    .container{
        padding: 20px;
    }
    #question-text{
        font-size: 1.2rem;
    }
    .answer-btn{
        font-size: 0.9rem;
        padding: 8px;
    }
}